.container {
  &.ableBtns {
    a, button, div {
      cursor: default;
      pointer-events: none;
    }
  }
  .title {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: white;
    margin-bottom: 1rem;
    display: flex;
  }
  .challenge {
    display: flex;
    gap: 1rem;
    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
  }
}

