.container {
  position: relative;
  padding-bottom: 1rem;
  &.noable {
    .line {
      .point {
        border-color: #007bff5d;
        background: rgba(0, 26, 61);
      }
    }
    .challenges {
      .label {
        opacity: 0.25;
      }
      .info {
        max-height: 0rem;
        overflow: hidden;
        padding: 0px;
        transition: all 150ms ease-in-out;
      }
    }
  }
  .line {
    flex-shrink: 0;
    width: 2px;
    height: 100%;
    background-color: #007cff;
    position: absolute;
    left: -7.5px;
    top: 3.5px;
    &.un_able_next {
      background-color: #007bff5d;
    }
    .point {
      position: absolute;
      left: -4px;
      top: 0px;
      border-radius: 50%;
      display: flex;
      width: 10px;
      height: 10px;
      background: #007cff;
      border: solid 2px #007cff;
      &.select {
        background-color: #007cff;
      }
    }
  }
  .challenges {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    .label {
      color: #a0aec0;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
    }
    .info {
      display: flex;
      flex-direction: column;
      border-radius: 16px;
      align-items: center;
      padding: 15px;
      gap: 10px;
      background: linear-gradient(
        175deg,
        rgba(6, 11, 38, 0.74) 0%,
        rgba(6, 43, 99, 0.5) 100%
      );
      backdrop-filter: blur(25px);
      width: 100%;
      max-height: 50rem;
      transition: all 150ms ease-in-out;
      .modalities {
        display: flex;
        gap: 0.5rem;
        overflow: auto;
        width: 100%;
        max-width: max-content;
        .modality {
          height: 32px;
          padding: 10px 15px;
          border-radius: 8px;
          background: rgba(217, 217, 217, 0.2);
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%;
          white-space: nowrap;
          &.select {
            background: #007cff;
          }
        }
      }
      .details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-x: auto;
        max-width: 650px;
        width: 100%;
        .items {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 100px;
          grid-row-gap: 20px;
          @media screen and (max-width: 700px) {
            background-color: ed;
            display: flex;
            flex-direction: column;
          }
          div {
            display: flex;
            justify-content: space-between;
            span {
              white-space: nowrap;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
              user-select: none;
              &:nth-child(2) {
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}
